@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.products-section {
    background-color: #ffffff;
}

.products-heading {
    color: #1f2933;
    font-weight: bold;
}

.card-bg-container {
    background-image: url("https://d2clawv67efefq.cloudfront.net/ccbp-responsive-website/vr-products-headset-img.png");
    background-size: cover;
    height: 100vh;
    padding: 10px;
    color: #ffffff;
}

.buy-button {
    background-color: transparent;
    width: 100px;
    padding: 10px;
    color: #ffffff;
    border: none;
    border-width: 3px;
    border-style: solid;
    border-radius: 5px;

}

.card2-bg-container {
    background-image: url("https://d2clawv67efefq.cloudfront.net/ccbp-responsive-website/vr-products-headset-with-controllers-img.png");
    background-size: cover;
    height: 100vh;
    padding: 10px;
    color: #ffffff;
}

.view-btn {
    background-color: #1754a1;
    color: #ffffff;
    border: none;
    padding: 10px;
    width: 120px;
    border-radius: 3px;
}